[credentials]
username=user@xmppserver.tld
password=our_little_secret

[valet]
# paths can be relative or absolute
commands=etc/commands
libpurpledata=etc/account
lurch=thirdparty/lurch/build/lurch.so