### You may comment out this section if, for instance, you only want Bonjour
### chat.

[credentials]
username=user@xmppserver.tld
password=our_little_secret

[valet]
# paths can be relative or absolute
commands=etc/commands
libpurpledata=etc/account

### Comment out this line to disable OMEMO encryption
lurch=thirdparty/lurch/build/lurch.so

### Uncomment the line below te enable Bonjour service.
# bonjour=true